/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #172236;
  color: #d9dadc;
}

.bg-dark-grey {
  background-color: #111922;
}

.text-light-grey {
  color: white;
}

.searchmatch {
  font-weight: bold;
  text-decoration: underline;
}
